Repository grandq33769/genetic-algorithm: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, isort

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: detect-private-key
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-json
    -   id: check-yaml
        args: [--allow-multiple-documents]
    -   id: check-case-conflict
    -   id: detect-private-key

-   repo: https://gitlab.com/pycqa/flake8
    rev: '3.9.0'
    hooks:
    -   id: flake8


-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v0.812'
    hooks:
    -   id: mypy

-   repo: https://github.com/ambv/black
    rev: 20.8b1
    hooks:
    - id: black
      language_version: python3.7

-   repo: https://github.com/Lucas-C/pre-commit-hooks-bandit
    rev: v1.0.4
    hooks:
    -   id: python-bandit-vulnerability-check
        args: [-ll, --recursive, -x, tests, --skip, B311]
        files: .py$
        

-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pipenv run pylint
        language: system
        types: [python]
        exclude: ^tests/
        files: \.py$

    -   id: isort
        name: isort
        entry: pipenv run isort
        language: system
        types: [python]

-   repo: https://github.com/commitizen-tools/commitizen
    rev: v2.17.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

default_stages: [commit, push]

test(is_terminated): create a "is_terminated_by_generation" test
  tests/ga/test_is_terminated.py
Due: isort

feat(selection): create "roulette" selection
  ga/main.py
  ga/selection/__init__.py
  ga/selection/roulette.py
Due: pylint, isort

test(selection): add "roulette" test
  tests/ga/test_selection.py
Due: isort

fix(selection/roulette): add pre-processing of fitness matrix
  ga/selection/roulette.py
Due: pylint, isort

test(selection/roulette): add negative fitness case
  tests/ga/test_selection.py
Due: isort

feat(crossover&mutation): add crossover and mutation operation
  ga/representation/base.py
  ga/representation/binary.py
Due: pylint, isort

test(crossover&mutation): add crossover and mutation test
  tests/representation/test_binary_gene.py
Due: isort

build(.gitignore): ignore "logs" directory
  .gitignore
Due: none

fix(ga): specific the return type of alter
  ga/main.py
Due: pylint, isort

feat(crossover): add "one_bit_crossover" method
  ga/crossover/__init__.py
  ga/crossover/binary.py
Due: pylint, isort

test(crossover): add "one_bit_crossover" test
  tests/ga/test_crossover.py
Due: isort

feat(mutation): create directory
  ga/mutation/__init__.py
  ga/mutation/binary.py
Due: pylint, isort

test(file_logger): add file_logger fixture
  tests/conftest.py
Due: isort

test(file_logger): add file_logger to test
  tests/ga/test_crossover.py
  tests/ga/test_evaluation.py
Due: isort

test(path): move the file to appropriate path
  tests/ga/__init__.py
  tests/ga/representation/__init__.py
  tests/ga/representation/test_binary_gene.py
  tests/ga/representation/test_binary_repr.py
Due: isort

test(file_logger): add file_logger to "test_roulette"
  tests/ga/test_selection.py
Due: isort

feat(mutation): one bit mutation
  ga/mutation/binary.py
  ga/utils.py
Due: pylint, isort

refactor(crossover): use "serparate_pop_by_chance"
  ga/crossover/binary.py
Due: pylint, isort

fix(ga): change the output of mutation
  ga/main.py
Due: pylint, isort

test(mutation): one_bit_mutation test
  tests/ga/test_mutation.py
Due: isort

fix(roulette): handling the zero-division case
  ga/selection/roulette.py
Due: pylint, isort

fix(valid): add validation function to check valid gene
  ga/crossover/binary.py
  ga/mutation/binary.py
  ga/representation/binary.py
Due: pylint, isort

fix(ga): remove unnecessary log
  ga/main.py
Due: pylint, isort

test(binary_gene): add "valid_by_gene" test
  tests/ga/representation/test_binary_gene.py
Due: isort

test(selection): change the check condition of roulette result
  tests/ga/test_selection.py
Due: isort

test(ga): add ga overall test
  tests/ga/test_ga.py
Due: isort

feat(repr/float): add Float representation and gene operator
  ga/representation/float.py
Due: pylint, isort

test(repr/float): add float representation and gene operator test
  tests/ga/representation/test_float_gene.py
  tests/ga/representation/test_float_repr.py
Due: isort

test(repr/float): generate a float by calling function
  ga/representation/float.py
Due: pylint, isort

test(ga_float): add ga_float test
  tests/ga/conftest.py
  tests/ga/test_ga_binary.py
  tests/ga/test_ga_float.py
Due: isort

refactor(init): refactor the init directory
  ga/initialization/__init__.py
  ga/initialization/basic.py
  ga/main.py
  tests/ga/test_crossover.py
  tests/ga/test_evaluation.py
  tests/ga/test_ga_binary.py
  tests/ga/test_ga_float.py
  tests/ga/test_init.py
  tests/ga/test_mutation.py
Due: pylint, isort

refactor(is_terminated): directory
  ga/main.py
  ga/termination/__init__.py
  ga/termination/basic.py
  tests/ga/test_ga_binary.py
  tests/ga/test_ga_float.py
  tests/ga/test_is_terminated.py
Due: pylint, isort

refactor(evaluation): directory
  ga/evaluation/__init__.py
  ga/evaluation/basic.py
  ga/main.py
  tests/ga/test_evaluation.py
  tests/ga/test_ga_binary.py
  tests/ga/test_ga_float.py
Due: pylint, isort

feat(init): add "init_by_neighbors" method
  ga/initialization/basic.py
  tests/ga/test_init.py
Due: pylint, isort

feat(config): add HillClimbingSetting
  ga/config.py
Due: pylint, isort

feat(init): add "init_by_neighbors" method
  ga/initialization/basic.py
Due: pylint, isort

test(init): "init_by_neighbors" test
  tests/ga/conftest.py
  tests/ga/test_init.py
Due: isort

feat(config): add "target_fitness" in HillClimbingSetting
  ga/config.py
Due: pylint, isort

feat(eval/hc): add hc_evaluation method
  ga/evaluation/basic.py
Due: pylint, isort

test(eval/hc): add hc_evaluation test
  tests/ga/test_evaluation.py
Due: isort
