Repository grandq33769/genetic-algorithm: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, isort

pylint:
  name: pylint
  entry: pipenv run pylint
  language: system

isort:
  name: isort
  entry: pipenv run isort
  language: system

build(makefile): add "commit-retry"
  Makefile
Due: none

build(pipfile): lock package
  Pipfile
  Pipfile.lock
Due: none

build(makefile): change the package name
  Makefile
Due: none

feat(obj_func): impletement the objective fucntion
  ga/__init__.py
  ga/main.py
Due: pylint, isort

test(obj_func): add test on objective function
  tests/__init__.py
  tests/test_obj_func.py
Due: isort

feat(brute_force): add brute_force method
  ga/main.py
Due: pylint, isort

test(brute_force): add brute_force test
  tests/test_brute_force.py
Due: isort

build(pytest): move configuration from 'pytest.ini' to 'pyproject.toml'
  pyproject.toml
  pytest.ini
Due: none

test(conftest): add configuration of test
  tests/conftest.py
Due: isort

test(obj_func): add "test_max"
  tests/test_obj_func.py
Due: isort

test(brute_force): add time record
  tests/test_brute_force.py
Due: isort

fix(brute_force): fix max & min value
  ga/main.py
Due: pylint, isort

test(brute_force): write newline after records
  tests/test_brute_force.py
Due: isort

test(brute_force): add performance records
  performance/brute_force.csv
Due: none

feat(config): add the basic configuration
  ga/config.py
Due: pylint, isort

fix(brute_force): fix the calculation of min_value initialization
  ga/main.py
Due: pylint, isort

perf(brute_force): add a record
  performance/brute_force.csv
Due: none

fix(brute_force): fix the max/min value initialization
  ga/main.py
Due: pylint, isort

fix(brute_force): fix the min_value assignment
  ga/main.py
Due: pylint, isort

build(pre-commit): update the package
  .pre-commit-config.yaml
Due: none

feat(ga): add the template method of genetic algorithm
  ga/main.py
Due: pylint, isort

fix(ga): fix the way to append a population to a list
  ga/main.py
Due: pylint, isort

feat(config): add "GAsetting" and "GAconfig" dataclass
  ga/config.py
Due: pylint, isort

fix(ga): fix the paramter of all ga sub-function
  ga/main.py
Due: pylint, isort

test(brute_force): add min value validation
  tests/test_brute_force.py
  tests/test_obj_func.py
Due: isort

build(flake8): ignore E203
  .flake8
Due: none

feat(repr): create a binary representation and gene generator
  ga/representation/__init__.py
  ga/representation/base.py
  ga/representation/binary.py
Due: pylint, isort

test(repr): add test of binary representation and generator
  tests/representation/test_binary_gene.py
  tests/representation/test_binary_repr.py
Due: isort

fix(repr): abstract the base class and change the generator name to operator
  ga/representation/base.py
  ga/representation/binary.py
Due: pylint, isort

test(binary_gene): change the name from generator to operator
  tests/representation/test_binary_gene.py
Due: isort

feat(config): add "gene_operator" to GAsetting
  ga/config.py
Due: pylint, isort

feat(init): add binary_initialization
  ga/main.py
Due: pylint, isort

fix(init): change the function to "basic_init"
  ga/main.py
Due: pylint, isort

test(init): add basic_init test
  tests/ga/test_init.py
Due: isort

build(pipfile): add numpy
  Pipfile
  Pipfile.lock
Due: none

feat(eval): add basic_evaluation to ga
  ga/main.py
Due: pylint, isort

test(eval): add basic_evaluation test
  tests/ga/conftest.py
  tests/ga/test_evaluation.py
  tests/ga/test_init.py
Due: isort

feat(is_terminated): complete "is_terminated_by_generation"
  ga/main.py
Due: pylint, isort

build(pipfile): update black version
  Pipfile
  Pipfile.lock
Due: none

Path conditions:
  pylint: any of: \.py$ and \.py$ and not (^tests/)
  isort: any of: \.py$
