Repository grandq33769/genetic-algorithm: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, isort

pylint:
  name: pylint
  entry: pipenv run pylint
  language: system

isort:
  name: isort
  entry: pipenv run isort
  language: system

feat(is_terminated/hc): add is_strongest_diff_from_previous()
  ga/termination/basic.py
Due: pylint, isort

test(is_terminated/hc): add is_strongest_diff_from_previous test
  tests/ga/test_is_terminated.py
Due: isort

fix(repr/binary): mutation one bit error
  ga/representation/binary.py
Due: pylint, isort

feat(selection/neighbor): add select_neighbor_from_target method
  ga/selection/neighbor.py
Due: pylint, isort

test(selection/neighbor): add select_neighbor_from_target test
  tests/ga/test_selection.py
Due: isort

feat(config): add HillClimbingConfig class
  ga/config.py
Due: pylint, isort

feat(crossover&mutation): add no-ops function
  ga/crossover/binary.py
  ga/mutation/binary.py
Due: pylint, isort

test(hillclimbing): add hillclimbing binary test
  tests/ga/test_hillclimbing_binary.py
Due: isort

build(pre-commit): update version
  .pre-commit-config.yaml
Due: none

test(ga): refactor ga testing framework
  tests/ga/performance_utils.py
  tests/ga/test_ga_binary.py
  tests/ga/test_ga_float.py
  tests/ga/test_hillclimbing_binary.py
Due: isort

fix(selection/roulette): use exp() as a normailization function
  ga/selection/roulette.py
Due: pylint, isort

build(config/sa_setting): add SAsetting class
  ga/config.py
Due: pylint, isort

feat(termination/annealled): add is_annealled termination
  ga/termination/basic.py
Due: pylint, isort

test(init&evaluation): change the method to access the pop_size
  tests/ga/test_evaluation.py
  tests/ga/test_init.py
Due: isort

test(hillclimbing): change the termination function name
  tests/ga/test_hillclimbing_binary.py
Due: isort

test(termination/annealled): add is_annealled test
  tests/ga/conftest.py
  tests/ga/test_is_terminated.py
Due: isort

feat(config): add SAconfig class
  ga/config.py
Due: pylint, isort

feat(termination/annealling): add replacement
  ga/termination/basic.py
Due: pylint, isort

test(annealling): add simulated annealling test
  tests/ga/test_annealling_binary.py
  tests/ga/test_is_terminated.py
Due: isort

feat(evaluation/annealing): add annealling method
  ga/config.py
  ga/evaluation/basic.py
  ga/termination/basic.py
Due: pylint, isort

test(refactor): separate the directory
  tests/ga/algorithm/__init__.py
  tests/ga/algorithm/performance_utils.py
  tests/ga/algorithm/test_annealling_binary_max.py
  tests/ga/algorithm/test_annealling_binary_min.py
  tests/ga/algorithm/test_ga_binary_max.py
  tests/ga/algorithm/test_ga_binary_min.py
  tests/ga/algorithm/test_ga_float_max.py
  tests/ga/algorithm/test_ga_float_min.py
  tests/ga/algorithm/test_hillclimbing_binary_max.py
  tests/ga/algorithm/test_hillclimbing_binary_min.py
  tests/ga/conftest.py
  tests/ga/operation/__init__.py
  tests/ga/operation/test_crossover.py
  tests/ga/operation/test_evaluation.py
  tests/ga/operation/test_init.py
  tests/ga/operation/test_is_terminated.py
  tests/ga/operation/test_mutation.py
  tests/ga/operation/test_selection.py
Due: isort

build(.gitignore): ignore performance directory
  .gitignore
Due: none

feat(repre): add format() method
  ga/representation/base.py
  ga/representation/binary.py
  ga/representation/float.py
Due: pylint, isort

test(algorithm): add write matric
  tests/ga/algorithm/performance_utils.py
  tests/ga/algorithm/test_annealling_binary_max.py
  tests/ga/algorithm/test_annealling_binary_min.py
  tests/ga/algorithm/test_ga_binary_max.py
  tests/ga/algorithm/test_ga_binary_min.py
  tests/ga/algorithm/test_ga_float_max.py
  tests/ga/algorithm/test_ga_float_min.py
  tests/ga/algorithm/test_hillclimbing_binary_max.py
  tests/ga/algorithm/test_hillclimbing_binary_min.py
Due: isort

test(metric): fix write metric directory
  test.sh
  tests/ga/algorithm/performance_utils.py
  tests/ga/algorithm/test_annealling_float_min.py
  tests/ga/algorithm/test_hillclimbing_float_min.py
  tests/ga/conftest.py
Due: isort

test(init&evaluation): make validation dynamic
  tests/ga/operation/test_evaluation.py
  tests/ga/operation/test_init.py
Due: isort

build(pipfile): install plotly and pandas
  Pipfile
  Pipfile.lock
Due: none

build(makefile): clean the logging by receipe
  Makefile
Due: none

fix(selection/annealing): replace evaluation step
  ga/evaluation/basic.py
  ga/initialization/basic.py
  ga/selection/annealling.py
Due: pylint, isort

test(annealing): move from evaulation to selection
  ga/selection/annealling.py
  tests/ga/algorithm/performance_utils.py
  tests/ga/algorithm/test_annealling_binary_max.py
  tests/ga/algorithm/test_annealling_binary_min.py
  tests/ga/algorithm/test_annealling_float_min.py
  tests/ga/algorithm/test_hillclimbing_float_min.py
  tests/ga/conftest.py
Due: pylint, isort

feat(analysis): add plot and solution
  analysis/plot.py
  analysis/solution.py
Due: pylint, isort

fix(repre/float): change the mutation way
  ga/representation/float.py
Due: pylint, isort

fix(brute_force): change elif statement to if for determining the min_value
  ga/main.py
Due: pylint, isort

fix(repre): add generate_neighbor()
  ga/representation/base.py
Due: pylint, isort

fix(selection/neighbor): select the neighbor until local optimal
  ga/selection/neighbor.py
Due: pylint, isort

refactor(selection/annealing): replace the local neighbor generation
  ga/selection/annealling.py
Due: pylint, isort

refactor(init/neighbor): replace local neighbor generated by gene operator
  ga/initialization/basic.py
Due: pylint, isort

fix(ga/conftest): decrease the pop_size
  tests/ga/conftest.py
Due: isort

test(fix/selection): add "obj_func" args for selection
  tests/ga/algorithm/test_hillclimbing_binary_max.py
  tests/ga/algorithm/test_hillclimbing_binary_min.py
  tests/ga/algorithm/test_hillclimbing_float_min.py
  tests/ga/operation/test_selection.py
Due: isort

refactor(analysis): seperate line chart and dot plot
  analysis/dot_plot.py
  analysis/line_chart.py
Due: pylint, isort

Path conditions:
  pylint: any of: \.py$ and \.py$ and not (^tests/)
  isort: any of: \.py$
